ISO House Style adherence for citation of non-ISO/IEC Term source documents

Thanks to @veroniqueDubillot for alerting us on this!

https://www.iso.org/ISO-house-style.html

<img width="473" height="607" alt="Image" src="https://github.com/user-attachments/assets/51ce95b8-603f-4311-992c-0bd85fe1fb22" />

This is what we don't support today:
> Reference them by document number or shortened publication details in the [SOURCE] line with a bibliographic superscript callout, e.g. ASTM 1234:2025, 3.1[1], IMO Biofouling Guidelines, 2023, p.50[2].

For a non-ISO or non-IEC SOURCE (regardless if it has a document identifier or not), after the document identifier or full title, it needs to display the bibliographic reference tag in superscript (e.g. [3]) (after the locality if any).



In @veroniqueDubillot https://github.com/metanorma/metanorma-iso/issues/1442 has provided the following feedback about term sources:


<img width="771" height="609" alt="Image" src="https://github.com/user-attachments/assets/16d7458f-e6bb-4637-bdb3-7d2a494c2d72" />



The statement that no reference is given to a bibliography anchor conflicts with the style guide cited above, where a "bibliographic superscript callout" is required (which is what we are considered the anchors to be). 

It also conflicts with the fact that normative references to non-ISO/IEC references, which are expressly permitted, do not have an bibliographic anchor, and introducing it as a number in normative references will throw off bibliography  numbering.

I therefore need more detailed feedback on the expected rendering of a document like the following, before I can implement anything:

```

== Terms and definitions

=== Term 1

Definition 1

[.source]
<<ietf>>

=== Term 2

Definition 2

[.source]
<<ref2>>


[bibliography]
== Normative references

* [[[ietf,IETF RFC 1]]]

[bibliography]
== Bibliography

* [[[ref2,1]]],
span:organization[Joint Development Foundation Projects, LLC]
span:type[standard]
span:title[The GraphQL Specification Project]
span:date[October 2021]
span:uri[https://spec.ref2.org]
```

This is a document with two terms, the source of the first being an IETF document as a normative reference, the source of the second being a website with no document number.

The bibliography sections of these are currently showing the IETF reference as "IETF RFC 1", and the GraphQL reference as [1]:


<img width="934" height="940" alt="Image" src="https://github.com/user-attachments/assets/6e2a526c-b2a0-498e-9e26-ac7b9190f759" />

* Is the normative reference to IETF RFC 1 in the term source expected to be rendered  as "IETF RFC 1<sup>[1]</sup>"?
* Does that mean the Normative references are supposed to put a [1] before the appearance of "IETF RFC 1", i.e. "[1] IETF RFC 1, S. CROCKER, _Host Software_"? That would run counter to ISO/IEC DIR 2 10.2, which expressly restricts the use of ordinal numbers to informative references (Bibliography), not normative references. 
* If it does not, how is the bibliographic superscript callout "[1]" for a normative non-ISO/IEC references meant to be linked to the corresponding Normative References entry?
* If it does, does that mean that GraphQL is now supposed to be numbered as "[2]" instead of "[1]"?
* Should the use of "Reference [1]" for GraphQL be removed entirely, as your latest message says, and replaced by a full citation? We do not provide for truncated citations, and without express specification, we will not, so that will end up as 

> [SOURCE: Joint Development Foundation Projects, LLC, October 2021. _The GraphQL Specification Project_. https://spec.ref2.org<sup>[1]</sup>]


In addition to all of that, we put localities (clause or page numbers) after the document identifier or bibliographic ordinal number: "Reference [1], p. 30". Putting the "bibliographic superscript callout" after the locality number does indeed only makes sense if it does not appear before the locality, so that it is indeed 

> [SOURCE: Joint Development Foundation Projects, LLC, October 2021. _The GraphQL Specification Project_. https://spec.ref2.org, Clause 2<sup>[1]</sup>]

But that still leaves me confused as to what the bibliographic superscript callout is supposed to be doing, and what if anything it is pointing to in the bibliography.

I have not had a response in this past month. Based on the latest house style, the requirement appears to be as follows:

* Normative references are not numbered ([1])
* Bibliographies (informative references) are numbered
* Sources are expected to refer only to informative references, and not normative references: 

> Cite external ISO or IEC documents containing terminological entries in the introductory sentence of Clause 3 (using the wording given in ISO/EC Directives, Part 2, 2021, 16.5.3). Since the user is required to refer to these documents to understand the terminology used in the text, they constitute normative references and are listed in Clause 2. Avoid reproducing terminological entries from these documents

* Because sources are expected to refer only to informative references, and not normative references, they are expected to be numbered; hence the requirement for [1] numbering to be appended
* If a normative non-ISO/IEC reference ever appears as a source, it will not have a number by definition, so no such number can be appended to the source citation, and will not be.
* Source citations in terms section will be doc identifiers for standards, and short citations (just implemented in relaton-render) for other documents. The tag will be appended in superscript after the locality, so it cannot be provided by relaton-render.

Sorry for the delay, for me:

- there is not callout in a SOURCE;
- there is not callout for a normative reference;
- we can have callout for non ISO or IEC informative reference.


Test document:

```
== Terms and definitions

=== Term 1

Definition

[.source]
<<internet_standards,clause=3>>

=== Term 2

Definition

[.source]
<<internet_standards,clause=3>>

[.source]
<<graphql,clause=3>>

[.source]
<<iso643,clause=3>>

[.source]
<<ietf643,clause=3>>

=== Term 3

Definition

[.source]
<<ihos49,clause=3>>

[bibliography]
== Normative References

* [[[ihos49,IHO S-49]]]

[bibliography]
== Bibliography

* [[[internet_standards,1]]],
span:organization[Internet Engineering Task Force]
span:title[Internet Standards]
span:type[webresource]
span:date[July 2024]
span:uri[https://www.rfc-editor.org/standards#IS]

* [[[graphql,1]]],
span:organization[Joint Development Foundation Projects, LLC]
span:type[standard]
span:title[The GraphQL Specification Project]
span:date[October 2021]
span:uri[https://spec.graphql.org]

* [[[iso643,ISO 643]]]

* [[[ietf643,IETF RFC 643]]]
```

Current output:

<img width="803" height="1046" alt="Image" src="https://github.com/user-attachments/assets/da19242e-48fd-43ce-9183-9225d2858a06" />

Changes to term source referencing in light of the foregoing:

* No change in the referencing of Term 3 (normative reference, SDO other than ISO/IEC, referenced by document identifier.)
* No change in references to ISO 643 (informative reference, ISO/IEC)
* Add callout number after "IETF RFC 643, Clause 3" (informative reference, SDO other than ISO/IEC, referenced by document identifier)
* Make reference be short citation automatically instead of docid reference for Reference [3] and Reference [4], and add callout number (informative reference, non-standard)

We have just implemented short citations for Plateau, with this task also in mind.)

> > > Second, while we have excluded URIs systematically from short references, we cannot do so for web resources, which internet_standards is in the foregoing.
> > 
> > 
> > Why is this? No URLs should be shown in short citations. All resources must have a title, so there is no worry that nothing is shown.
> 
> Even resources defined as being just websites? They are pretty meaningless without it...

Fine...